body{
    background-image: url(../img/back.png);
	background-color: #444;
    background-image: url(../img/pinlayer2.png),url(../img/pinlayer1.png),url(../img/back.png);    
}

.vertical-offset-100{
    padding-top:100px;
}
