<!doctype html>
<html lang="en" ng-app="todo">
   <head>
      <title>ToDo-Here</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
      <link rel="stylesheet" href="css/common.css">
      <link rel="stylesheet" href="css/menu.css"/>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
      <script 
         src="js/libs/angular.min.js"></script>
      <script src="js/libs/angular-local-storage.min.js"></script>
      <script 
         src="js/app.js"></script>
      <script src="js/directives/angular.editInPlace.js"></script>
      <script 
         src="js/directives/googleDir.js"></script>
   </head>
   <body ng-controller="TodoCtrl" ng-init="init()">
      <div id="wrapper" ng-controller="menuBar" ng-class="menuOpen">
         <!-- Sidebar -->
         <nav class="navbar navbar-inverse navbar-fixed-
            top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
               <li class="sidebar-
                  brand"><a href="#">Menu</a></li>
               <li><a href="#">New List</a></li>
               <li><a href="#">Existing 
                  List</a>
               </li>
               <li><a href="#">Log Out</a></li>
            </ul>
         </nav>
         <!-- /#sidebar-wrapper 
            -->
         <!-- Page Content -->
         <div id="page-content-wrapper">
            <button type="button" class="hamburger" 
               ng-class="menuState" data-toggle="offcanvas" ng-click="toggle()">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
            </button>
         </div>
         <!-- /#page-content-wrapper -->
      </div>
      <!-- Popup -->
      <div class="outer" ng-show="alert">
         <div 
            class="inner">
            <div class="popHeader">
               <p class="title">TODO</p>
            </div>
            <div 
               class="popContent">
               <p class="title"> Tasks are incomplete in this location </p>
               <button class="btn 
                  btn-lg btn-primary center-block" id="check" ng-click="checkNow()">Check Now</button>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-
               12">
               <google-places 
                  location="location"></google-places>
               <div class="container" id="map" ></div>
            </div>
         </div>
      </div>
      <div ng-show="alert">
         <div class="modal-dialog">
            <div class="modal-
               content">
               <div 
                  class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" 
                     aria-
                     hidden="true">&times;</button>
                  <h4 class="modal-title">Confirmation</h4>
               </div>
               <div 
                  class="modal-body">
                  <p>Do you want to save changes you made to document before closing?</p>
                  <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
               </div>
               <div 
                  class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
               </div>
            </div>
         </div>
      </div>
      <div class="container" ng-controller="TodoCtrl" id="playground">
         <div class="row">
            <div class="col-xs-12">
               <div class="row">
                  <div 
                     class="col-
                     xs-12">
                     <ul class="nav nav-pills todo-filter">
                        <li ng-class="{'active' : show == 'All' }" ng-click="show='All'"><a href="#">All</a></li>
                        <li ng-class="{'active' : show == 'Incomplete' }" ng-click="show='Incomplete'"><a 
                           href="#">Incomplete</a></li>
                        <li ng-class="{'active' : show == 'Complete' }" 
                           ng-click="show='Complete'"><a 
                           href="#">Complete</a></li>
                     </ul>
                  </div>
               </div>
               <div class="row" id="todoAdd">
                  <div class="col-
                     md-6">
                     <div class="form-group">
                        <input 
                           class="todoField" id="newTodoField" type="text" ng-model="newTodo" placeholder="Add New Todo 

List" 
                           ng-enter/>
                     </div>
                  </div>
               </div>
               <button id="todoSubmit" 
                  class="btn btn-default" ng-click="addTodo()">Add List</button>
               <div class="row todoContainer">
                  <ul class="list-unstyled" ng-repeat="todos in model track 
                     by $index" ui-sortable="todoSortable" 
                     ng-model="todos.list" ng-show="$index === currentShow">
                     <li class="todoTask" ng-
                        repeat="todo in todos.list | filter:showFn | filter :todoSearch ">
                        <input class="todoCheckbox" ng-model="todo.isDone" type="checkbox">
                        <label class="todoCheckboxlabel" ></label>
                        <edit-in-place 
                           value="todo.taskName"></edit-in-place>
                        <button type="button" 
                           class="close 
                           pull-right customeClose" aria-hidden="true" ng-click="deleteTodo($index)"></button>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-
         US"></script>
   </body>
</html>
