<!doctype html>
<html lang="en" ng-app="todo">
<head>
	<title>ToDo-Here</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/menu.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script src="js/libs/angular.min.js"></script>
	<script src="js/libs/angular-local-storage.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/login.js"></script>
	
	<script src="js/TweenLite.min.js"></script>
</head>

<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->
<body>
<div class="container" >
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">

<!--Login -->
    		<div class="panel panel-default"  ng-show="login" ng-controller="loginCtrl" >
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="User Name" id="uname" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" id="password" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" id="rememberMe" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
			    		<button class="btn btn-lg btn-success" type="submit" id="loginButton" ng-click="loginClick()">Login</button>
					<button class="btn btn-lg btn-primary" id="newUserButton" ng-click="registerClick()">Register</button>
			    	</fieldset>
			      	</form>
			    </div>
			</div>





<!--Register -->

	<div  class="panel panel-default"  ng-show="register" ng-controller="registerCtrl">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Register Me!!!</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="User Name" id="userName" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" id="pwd" type="password">
			    		</div>
					<div class="form-group">
			    			<input class="form-control" placeholder="E-mail" id="email" type="email">
			    		</div>


	
					<a href="login.html" class="btn btn-lg btn-primary btn-block" ng-click="registerMe()">Submit</a>
			    	</fieldset>
			      	</form>
			    </div>
			</div>

		</div>
	</div>
</div>
</body>
</html>
